<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
    <% @tasks.each do |task| %>
        <div>
          user.name <%=task.user.name %>  posted at <%= task.created_at %>
        </div>
        <div>
          <p><%= task.content %></p><p><%= task.status %></p>
          <%=link_to '詳細', task %>
        </div>
      </div>
    </li>
  <% end %>
  <%= link_to '新規タスクの投稿', new_task_path %>
  <%= link_to 'Logout', logout_path, method: :delete %>
<% else %>
  <h1>Welcome to the Microposts</h1>
  <%= link_to 'Sign up now!', users_path%>
  <%= link_to 'Login', login_path %>
<% end %>



